.searchBar_contanier{
   background-color: #ffffff;
   height: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
   border-radius: 8px;
   margin-top: .1rem;
}

.input_search{
   background-color: transparent;
   outline: none;
   border-radius: 15px;
   border-radius: 0px;
   margin-left: .3rem;
   margin-right: .3rem;
}

.input_search::placeholder{
   color: orange;
}

.input_search:focus{
   border-radius: none;
   border: solid 2px orange;
   color: orange;
}

.search_button{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2rem;
   border: none;
   background-color: transparent;
   cursor: pointer;
   border-radius: 5px;
}